Repository IgniteUI/igniteui-xplat-docs, pull requests merged in 2024-05, with the labels that each got.

#1243 docs(grids): list dependencies
  doc/en/components/grids/data-grid.md
  doc/en/components/grids/hierarchical-grid/overview.md
  doc/en/components/grids/tree-grid/overview.md
Labels: topic: grids, status: awaiting-test

#1290 [JA] Updating Changelogs, Chart Highlighting, other fixes
  doc/jp/components/bullet-graph.md
  doc/jp/components/charts/chart-features.md
  doc/jp/components/charts/chart-overview.md
  doc/jp/components/charts/features/chart-animations.md
  doc/jp/components/charts/features/chart-highlight-filter.md
  doc/jp/components/charts/features/chart-highlighting.md
  doc/jp/components/charts/features/chart-markers.md
  doc/jp/components/charts/features/chart-performance.md
  doc/jp/components/charts/features/chart-trendlines.md
  doc/jp/components/charts/types/bubble-chart.md
  doc/jp/components/charts/types/pie-chart.md
  doc/jp/components/charts/types/polar-chart.md
  doc/jp/components/charts/types/scatter-chart.md
  doc/jp/components/charts/types/treemap-chart.md
  doc/jp/components/excel-library-using-worksheets.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/geo-map-type-scatter-bubble-series.md
  doc/jp/components/grids/_shared/cell-selection.md
  doc/jp/components/grids/_shared/column-selection.md
  doc/jp/components/grids/_shared/conditional-cell-styling.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/search.md
  doc/jp/components/grids/data-grid.md
  doc/jp/components/grids/data-grid/cell-selection.md
  doc/jp/components/grids/data-grid/overview.md
  doc/jp/components/grids/data-grid/row-highlighting.md
  doc/jp/components/grids/grid/master-detail.md
  doc/jp/components/grids/hierarchical-grid/overview.md
  doc/jp/components/grids/theming.md
  doc/jp/components/grids/tree-grid/overview.md
  doc/jp/components/inputs/combo/single-selection.md
  doc/jp/components/layouts/dock-manager.md
  doc/jp/components/linear-gauge.md
  doc/jp/components/radial-gauge.md
  doc/jp/components/scheduling/calendar.md
  doc/jp/components/spreadsheet-conditional-formatting.md
Labels: status: localized

#1281 docs(tree-grid): enable column types sample
  doc/en/components/grids/_shared/column-types.md
Labels: status: verified, platform: react, platform: blazor, platform: wc, topic: tree-grid

#1154 Add topic for DateTimeInput React
  doc/en/components/inputs/date-time-input.md
  docfx/en/components/toc.json
Labels: platform: react, topic: date-time-input

#1294 chore(toc): Move Multi-Column combo to deprecated
  docfx/en/components/toc.json
Labels: status: verified
