Repository IgniteUI/igniteui-xplat-docs, pull requests merged in 2025-10, with the labels that each got.

#1719 JA - more changelog updates, keys updates.
  doc/jp/components/charts/features/chart-navigation.md
  doc/jp/components/general-changelog-dv-blazor.md
  doc/jp/components/general-changelog-dv-react.md
  doc/jp/components/general-changelog-dv-wc.md
  doc/jp/components/general-changelog-dv.md
  doc/jp/components/geo-map-display-azure-imagery.md
  doc/jp/components/grids/_shared/cell-editing.md
  doc/jp/components/grids/_shared/column-types.md
  doc/jp/components/grids/_shared/excel-style-filtering.md
  doc/jp/components/grids/_shared/keyboard-navigation.md
  doc/jp/components/grids/_shared/row-pinning.md
  doc/jp/components/grids/_shared/row-selection.md
  doc/jp/components/grids/_shared/selection.md
  doc/jp/components/grids/data-grid/cell-selection.md
  doc/jp/components/grids/tree.md
  doc/jp/components/inputs/combo/overview.md
  doc/jp/components/layouts/carousel.md
  doc/jp/components/scheduling/date-range-picker.md
  doc/jp/components/spreadsheet-configuring.md
Labels: topic: general, status: localized

#1721 mdd-add-rtraffic-relative-dark
  doc/en/components/geo-map-display-azure-imagery.md
Labels: status: in-review :eyes:

#1723 [JA] Adding Blazor topic for Divider, Azure Imagery topic update
  doc/jp/components/geo-map-display-azure-imagery.md
  doc/jp/components/layouts/divider.md
  docfx/jp/components/toc.json
Labels: status: localized

#1710 feat(tooltip): add blazor topic
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  doc/en/components/inputs/tooltip.md
  docfx/en/components/toc.json
Labels: status: awaiting-test :x:, platform: blazor, topic: tooltip

#1729 feat(tooltip): add blazor topic - master
  apiMap/Blazor/webInputs.JS.blazor.apiMap.json
  doc/en/components/inputs/tooltip.md
  docfx/en/components/toc.json
Labels: status: awaiting-test :x:, platform: blazor, topic: tooltip
